In [12]:
import pandas as pd
df=pd.read_parquet("/home/jacob/data/movies/dailyboxoffice/dt=20240101")
df=df.drop(columns=['rnum', 'rank', 'rankInten', 'salesShare'])

fil_movieCd=[]
for _, row in df.iterrows():
    if pd.isna(row['multiMovieYn']) or pd.isna(row['repNationCd']):
        fil_movieCd.append(row['movieCd'])
        
def merge_values(series):
    return ', '.join(series.dropna().astype(str).unique())

merged_list=[]

for i in set(fil_movieCd):
    fil_dup=df[df['movieCd'] == i][['movieCd', 'movieNm', 'multiMovieYn', 'repNationCd']]
    if len(fil_dup) == 1 and fil_dup[['multiMovieYn', 'repNationCd']].isna().all(axis=1).iloc[0]:
        fil_dup = fil_dup.fillna("Unclassified")
        merged_list.append(fil_dup)
    else:
        fil_dup=fil_dup.dropna(subset=['multiMovieYn', 'repNationCd'], how='all')
        merged_df = fil_dup.groupby(['movieCd', 'movieNm'], as_index=False).agg({
            'multiMovieYn': merge_values,
            'repNationCd': merge_values
        })
        merged_list.append(merged_df)
f_merged_df = pd.concat(merged_list, ignore_index=True)
f_merged_df

     movieCd                               movieNm multiMovieYn repNationCd
0   20235735                          아쿠아맨과 로스트 킹덤            N           F
1   20227525                             교토에서 온 편지                        K
2   20203702                            노량: 죽음의 바다            N           K
3   20233299                                  크레센도            Y           F
4   20190324                                3일의 휴가            N           K
5   20234664                        그대들은 어떻게 살 것인가            Y
6   19860125                                  쿼바디스            Y
7   20235098                                  나폴레옹            N
8   20236080                         류이치 사카모토: 오퍼스            Y           F
9   20235980                             말하고 싶은 비밀            N           F
10  20124722                             피아니스트의 전설            Y
11  20235596                            트롤: 밴드 투게더            N           F
12  20235923                            사랑은 낙엽을 타고            Y           F
13  20235697                엔시티 네이션 : 투 더 월드 인 시네마                        K
14  20232077                                어른 김장하                        K
15  20212866                                 서울의 봄            N           K
16  20236533                                립세의 사계            Y
17  20202247                               싱글 인 서울                        K
18  20234673                      뽀로로 극장판 슈퍼스타 대모험            N           K
19  20236146  신차원! 짱구는 못말려 더 무비 초능력 대결전 ~날아라 수제김밥~            N           F
20  20228560                                  너와 나                        K
21  20234114                                    괴물            Y           F
22  20236045  바다 탐험대 옥토넛 어보브 앤 비욘드: 버드, 옥토경보를 울려라!            Y           F
23  20235693                             리빙: 어떤 인생            Y           F
24  20235290                             도티와 영원의 탑            N           K

In [3]:
import pandas as pd
pd.read_parquet("/home/jacob/data/movies/dailyboxoffice/dt=20240101/")

,rnum,rank,rankInten,rankOldAndNew,movieCd,movieNm,openDt,salesAmt,salesShare,salesInten,salesChange,salesAcc,audiCnt,audiInten,audiChange,audiAcc,scrnCnt,showCnt,multiMovieYn,repNationCd
0,1.0,1.0,0.0,OLD,20203702,노량: 죽음의 바다,2023-12-20,2.893509e+09,38.8,-686119312.0,-19.2,36926118105,290717.0,-59184.0,-16.9,3728850.0,1706.0,5793.0,NaN,NaN
1,2.0,2.0,0.0,OLD,20212866,서울의 봄,2023-11-22,2.666429e+09,35.8,-649456909.0,-19.6,118016920547,262422.0,-64054.0,-19.6,12117201.0,1614.0,5444.0,NaN,NaN
2,3.0,3.0,0.0,OLD,20236146,신차원! 짱구는 못말려 더 무비 초능력 대결전 ~날아라 수제김밥~,2023-12-22,5.654173e+08,7.6,-69888800.0,-11.0,6071745009,58239.0,-6751.0,-10.4,626508.0,834.0,1671.0,NaN,NaN
3,4.0,4.0,0.0,OLD,20235735,아쿠아맨과 로스트 킹덤,2023-12-20,5.079850e+08,6.8,-156026099.0,-23.5,7967584753,49368.0,-14686.0,-22.9,772354.0,832.0,1611.0,NaN,NaN
4,5.0,5.0,0.0,OLD,20235596,트롤: 밴드 투게더,2023-12-20,2.735388e+08,3.7,-16945147.0,-5.8,3383181955,28988.0,-1952.0,-6.3,365927.0,660.0,981.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,6.0,6.0,2.0,OLD,20202247,싱글 인 서울,2023-11-29,1.903007e+06,0.0,-409621.0,-17.7,3740536035,212.0,-17.0,-7.4,399787.0,9.0,9.0,NaN,K
71,7.0,7.0,-1.0,OLD,20228560,너와 나,2023-10-25,2.625839e+06,0.0,-3233861.0,-55.2,330224803,192.0,-337.0,-63.7,33811.0,8.0,8.0,NaN,K
72,8.0,8.0,1.0,OLD,20235697,엔시티 네이션 : 투 더 월드 인 시네마,2023-12-06,1.364000e+06,0.0,-3168000.0,-69.9,554784000,69.0,-144.0,-67.6,25099.0,8.0,8.0,NaN,K
73,9.0,9.0,6.0,OLD,20232077,어른 김장하,2023-11-15,2.140000e+05,0.0,-58000.0,-21.3,230592472,31.0,-8.0,-20.5,27603.0,2.0,2.0,NaN,K
74,10.0,10.0,3.0,OLD,20227525,교토에서 온 편지,2023-12-06,2.070000e+05,0.0,-67800.0,-24.7,58288197,29.0,-19.0,-39.6,6717.0,3.0,3.0,NaN,K

In [ ]:
pd.read_parquet("/home/jacob/data/movies/dailyboxoffice/dt=20240101