In [ ]:
import pandas as pd
df1=pd.read_parquet("/home/jacob/data/movies/dailyboxoffice/dt=20240101/617caebfdb7b4220a37e0686d13d7a37-0.parquet")
df11=pd.read_parquet("/home/jacob/data/movies/dailyboxoffice/dt=20240101/dt=20240101/")
df2=pd.read_parquet("/home/jacob/data/movies/dailyboxoffice/dt=20240101/")
df20=pd.read_parquet("/home/jacob/data/movies/dailyboxoffice/")
df3=pd.read_parquet("/home/jacob/data/movies/dailyboxoffice/dt=20240101/multiMovieYn=N")
pd.read_parquet("/home/jacob/data/movies/dailyboxoffice/dt=20240101/multiMovieYn=N/6a143118f9c34d4da4225d5621520b19-0.parquet")
df4=pd.read_parquet("/home/jacob/data/movies/dailyboxoffice/dt=20240101/multiMovieYn=Y")
pd.read_parquet("/home/jacob/data/movies/dailyboxoffice/dt=20240101/multiMovieYn=Y/68af1768255c4eea9fec1b7ee2b3cabf-0.parquet")
# df5=pd.read_parquet("/home/jacob/data/movies/dailyboxoffice/dt=20240101/b10dbce30b844e83b388fcb9296bf696-0.parquet")68af1768255c4eea9fec1b7ee2b3cabf-0.parquet
# df6=pd.read_parquet("/home/jacob/data/movies/dailyboxoffice/dt=20240101/d87214e915fe46e592880caa57604a32-0.parquet")
# df7=pd.read_parquet("/home/jacob/data/movies/dailyboxoffice/dt=20240101/dt=20240101/e0d080775cee4828bfed69dbdc731ebc-0.parquet")6a143118f9c34d4da4225d5621520b19-0.parquet

In [ ]:
import pandas as pd
kdf=pd.read_parquet("/home/jacob/data/movies/dailyboxoffice/")
print(len(kdf))

In [ ]:
adf=pd.read_parquet("/home/jacob/data/movies/dailyboxoffice/dt=20240101/")
adf

In [ ]:
fil_movieCd=[]
for _, row in adf.iterrows():
    if pd.isna(row['multiMovieYn']) or pd.isna(row['repNationCd']):
        fil_movieCd.append(row['movieCd'])

In [ ]:
def merge_values(series):
    return ', '.join(series.dropna().astype(str).unique())
bmer_list=[]
merged_list=[]    
for i in set(fil_movieCd):
    fil_dup=adf[adf['movieCd'] == i][['movieCd', 'movieNm', 'multiMovieYn', 'repNationCd']]
    print(len(fil_dup))
    bmer_list.append(fil_dup)
    fil_dup=fil_dup.dropna(subset=['multiMovieYn', 'repNationCd'], how='all')
    merged_adf = fil_dup.groupby(['movieCd', 'movieNm'], as_index=False).agg({
        'multiMovieYn': merge_values,
        'repNationCd': merge_values
    })
    merged_list.append(merged_adf)
f_merged_adf = pd.concat(merged_list, ignore_index=True)
print(bmer_list)
f_merged_adf

In [6]:
import pandas as pd
adf=pd.read_parquet("/home/jacob/data/movies/dailyboxoffice/dt=20240101/")
adf
fil_movieCd=[]
for _, row in adf.iterrows():
    if pd.isna(row['multiMovieYn']) or pd.isna(row['repNationCd']):
        fil_movieCd.append(row['movieCd'])
        
def merge_values(series):
    return ', '.join(series.dropna().astype(str).unique())

merged_list=[]

for i in set(fil_movieCd):
    fil_dup=adf[adf['movieCd'] == i][['movieCd', 'movieNm', 'multiMovieYn', 'repNationCd','audiCnt','rnum']]
    if len(fil_dup) == 1 and fil_dup[['multiMovieYn', 'repNationCd']].isna().all(axis=1).iloc[0]:
        fil_dup = fil_dup.fillna("Unclassified")
        merged_list.append(fil_dup)
    else:
        fil_dup=fil_dup.dropna(subset=['multiMovieYn', 'repNationCd'], how='all')
        merged_adf = fil_dup.groupby(['movieCd', 'movieNm'], as_index=False).agg({
            'multiMovieYn': merge_values,
            'repNationCd': merge_values,
            'audiCnt': 'max'
        })
        merged_list.append(merged_adf)
f_merged_adf = pd.concat(merged_list, ignore_index=True)

f_merged_adf['rank'] =f_merged_adf['audiCnt'].rank(ascending=False,method='dense')
unique_df_sorted = f_merged_adf.sort_values(by='rank')
unique_df_sorted

,movieCd,movieNm,multiMovieYn,repNationCd,audiCnt,rank
14,20203702,노량: 죽음의 바다,N,K,290717,1.0
0,20212866,서울의 봄,N,K,262422,2.0
22,20236146,신차원! 짱구는 못말려 더 무비 초능력 대결전 ~날아라 수제김밥~,N,F,58239,3.0
20,20235735,아쿠아맨과 로스트 킹덤,N,F,49368,4.0
16,20235596,트롤: 밴드 투게더,N,F,28988,5.0
11,20234673,뽀로로 극장판 슈퍼스타 대모험,N,K,11586,6.0
6,20235290,도티와 영원의 탑,N,K,10704,7.0
1,20234114,괴물,Y,F,8710,8.0
3,20236045,"바다 탐험대 옥토넛 어보브 앤 비욘드: 버드, 옥토경보를 울려라!",Y,F,6471,9.0
17,20235980,말하고 싶은 비밀,N,F,3765,10.0
23,20190324,3일의 휴가,N,K,3295,11.0
10,20236080,류이치 사카모토: 오퍼스,Y,F,3001,12.0
19,20233299,크레센도,Y,F,2534,13.0
5,20235923,사랑은 낙엽을 타고,Y,F,1052,14.0
9,20235693,리빙: 어떤 인생,Y,F,729,15.0
21,20235098,나폴레옹,N,,540,16.0
8,20234664,그대들은 어떻게 살 것인가,Y,,318,17.0
12,20124722,피아니스트의 전설,Y,,294,18.0
24,20236533,립세의 사계,Y,,294,18.0
7,19860125,쿼바디스,Y,,292,19.0
2,20202247,싱글 인 서울,,K,212,20.0
18,20228560,너와 나,,K,192,21.0
13,20235697,엔시티 네이션 : 투 더 월드 인 시네마,,K,69,22.0
4,20232077,어른 김장하,,K,31,23.0
15,20227525,교토에서 온 편지,,K,29,24.0

In [ ]:

unique_list=[]
   
for i in set(fil_movieCd):
    fil_dup=adf[adf['movieCd'] == i][['movieCd', 'movieNm', 'multiMovieYn', 'repNationCd']]

    if fil_dup['multiMovieYn'].isna().all():
        unique_list.append(fil_dup)
    else:
        pass
    
print(len(unique_list))
print(unique_list)
#f_merged_adf

In [ ]:
unique_list=[]
   
for i in set(fil_movieCd):
    fil_dup=adf[adf['movieCd'] == i][['movieCd', 'movieNm', 'multiMovieYn', 'repNationCd']]

    if fil_dup['repNationCd'].isna().all():
        unique_list.append(fil_dup)
    else:
        pass
    
print(len(unique_list))
print(unique_list)
#f_merged_adf

In [ ]:
fil_movieCd=[]
for _, row in adf.iterrows():
    if pd.isna(row['multiMovieYn']) or pd.isna(row['repNationCd']):
        fil_movieCd.append(row['movieCd'])
unique_list=[]
   
for i in set(fil_movieCd):
    fil_dup=adf[adf['movieCd'] == i][['movieCd', 'movieNm', 'multiMovieYn', 'repNationCd']]

    if fil_dup[['multiMovieYn', 'repNationCd']].isna().all(axis=1).all():
        unique_list.append(fil_dup)
    else:
        pass
    
print(len(unique_list))
print(unique_list)
#f_merged_adf

In [ ]:
def merge_values(series):
    return ', '.join(series.dropna().astype(str).unique())
unique_list=[]
merged_list=[]    
for i in set(fil_movieCd):
    fil_dup=adf[adf['movieCd'] == i][['movieCd', 'movieNm', 'multiMovieYn', 'repNationCd']]
    if len(fil_dup) == 1:
        unique_list.append(fil_dup)
    else:
        fil_dup=fil_dup.dropna(subset=['multiMovieYn', 'repNationCd'], how='all')
        merged_adf = fil_dup.groupby(['movieCd', 'movieNm'], as_index=False).agg({
            'multiMovieYn': merge_values,
            'repNationCd': merge_values
        })
        merged_list.append(merged_adf)
f_merged_adf = pd.concat(merged_list, ignore_index=True)
print(len(unique_list))
print(unique_list)
#f_merged_adf

In [ ]:
def merge_values(series):
    return ', '.join(series.dropna().astype(str).unique())
unique_list=[]
merged_list=[]    
for i in set(fil_movieCd):
    fil_dup=adf[adf['movieCd'] == i][['movieCd', 'movieNm', 'multiMovieYn', 'repNationCd','audiCnt','rnum']]
    if len(fil_dup) == 1:
        unique_list.append(fil_dup)
    else:
        fil_dup=fil_dup.dropna(subset=['multiMovieYn', 'repNationCd'], how='all')
        merged_adf = fil_dup.groupby(['movieCd', 'movieNm'], as_index=False).agg({
            'multiMovieYn': merge_values,
            'repNationCd': merge_values
        })
        merged_list.append(merged_adf)
f_merged_adf = pd.concat(merged_list, ignore_index=True)
print(len(unique_list))
print(unique_list)
#f_merged_adf

In [ ]:
unique_df = pd.concat(unique_list, ignore_index=True)
unique_df['rank'] =unique_df['audiCnt'].rank(ascending=False,method='dense')
unique_df_sorted = unique_df.sort_values(by='rank')
unique_df_sorted

In [ ]:
pd.read_parquet("/home/jacob/data/movies/dailyboxoffice/dt=20240101")

In [ ]:
pd.read_parquet("/home/jacob/data/movies/dailyboxoffice/dt=20240101/multiMovieYn=N")

In [ ]:
pd.read_parquet("/home/jacob/data/movies/dailyboxoffice/dt=20240101/multiMovieYn=N/6a143118f9c34d4da4225d5621520b19-0.parquet")

In [ ]:
pd.read_parquet("/home/jacob/data/movies/dailyboxoffice/dt=20240101/multiMovieYn=Y")

In [ ]:
pd.read_parquet("/home/jacob/data/movies/dailyboxoffice/dt=20240101/multiMovieYn=Y/68af1768255c4eea9fec1b7ee2b3cabf-0.parquet")

In [ ]:
pd.read_parquet("/home/jacob/data/movies/dailyboxoffice/dt=20240101/multiMovieYn=N")

In [ ]:
df.to_parquet('~/temp/p_test2', partition_cols=['rank'])

In [ ]:
len(pd.read_parquet('~/temp/p_test'))