In [13]:
import pandas as pd
base_path="/home/jacob/data/movies/dailyboxoffice"
ds_nodash="20240101"
svbase_path =  "/home/jacob/data/movies/merge/dailyboxoffice"
save_path = f"{svbase_path}/dt={ds_nodash}/merged.parquet"
drop_col = ['rnum', 'rank', 'rankInten', 'salesShare']
full_col = ['rnum', 'rank', 'rankInten', 'salesAmt', 'audiCnt',
            'audiAcc', 'scrnCnt', 'showCnt', 'salesShare', 'salesInten',
            'salesChange', 'audiInten', 'audiChange']
    
df=pd.read_parquet("/home/jacob/data/movies/dailyboxoffice/dt=20240101")
df.drop(columns=['rank', 'rnum', 'rankInten', 'salesShare'])
fil_movieCd=[]

for _, row in df.iterrows():
    if pd.isna(row['multiMovieYn']) or pd.isna(row['repNationCd']):
        fil_movieCd.append(row['movieCd'])
        
def merge_values(series):
    return ', '.join(series.dropna().astype(str).unique())

merged_list=[]

for i in set(fil_movieCd):
    fil_dup=df[df['movieCd'] == i][['movieCd', 'movieNm', 'multiMovieYn', 'repNationCd','audiCnt','rnum']]
    if len(fil_dup) == 1 and fil_dup[['multiMovieYn', 'repNationCd']].isna().all(axis=1).iloc[0]:
        fil_dup = fil_dup.fillna("Unclassified")
        merged_list.append(fil_dup)
    else:
        fil_dup=fil_dup.dropna(subset=['multiMovieYn', 'repNationCd'], how='all')
        merged_df = fil_dup.groupby(['movieCd', 'movieNm'], as_index=False).agg({
            'multiMovieYn': merge_values,
            'repNationCd': merge_values,
            'audiCnt': 'max'
        })
        merged_list.append(merged_df)
f_merged_df = pd.concat(merged_list, ignore_index=True)
f_merged_df['rank'] =f_merged_df['audiCnt'].rank(ascending=False,method='dense')
unique_df_sorted = f_merged_df.sort_values(by='rank')
unique_df_sorted[['multiMovieYn', 'repNationCd']] = unique_df_sorted[['multiMovieYn', 'repNationCd']].replace('', pd.NA)
unique_df_sorted

,movieCd,movieNm,multiMovieYn,repNationCd,audiCnt,rank
22,20203702,노량: 죽음의 바다,N,K,290717.0,1.0
2,20212866,서울의 봄,N,K,262422.0,2.0
21,20236146,신차원! 짱구는 못말려 더 무비 초능력 대결전 ~날아라 수제김밥~,N,F,58239.0,3.0
14,20235735,아쿠아맨과 로스트 킹덤,N,F,49368.0,4.0
1,20235596,트롤: 밴드 투게더,N,F,28988.0,5.0
7,20234673,뽀로로 극장판 슈퍼스타 대모험,N,K,11586.0,6.0
20,20235290,도티와 영원의 탑,N,K,10704.0,7.0
15,20234114,괴물,Y,F,8710.0,8.0
0,20236045,"바다 탐험대 옥토넛 어보브 앤 비욘드: 버드, 옥토경보를 울려라!",Y,F,6471.0,9.0
23,20235980,말하고 싶은 비밀,N,F,3765.0,10.0
19,20190324,3일의 휴가,N,K,3295.0,11.0
12,20236080,류이치 사카모토: 오퍼스,Y,F,3001.0,12.0
3,20233299,크레센도,Y,F,2534.0,13.0
16,20235923,사랑은 낙엽을 타고,Y,F,1052.0,14.0
11,20235693,리빙: 어떤 인생,Y,F,729.0,15.0
5,20235098,나폴레옹,N,<NA>,540.0,16.0
4,20234664,그대들은 어떻게 살 것인가,Y,<NA>,318.0,17.0
9,20236533,립세의 사계,Y,<NA>,294.0,18.0
18,20124722,피아니스트의 전설,Y,<NA>,294.0,18.0
24,19860125,쿼바디스,Y,<NA>,292.0,19.0
13,20202247,싱글 인 서울,<NA>,K,212.0,20.0
10,20228560,너와 나,<NA>,K,192.0,21.0
17,20235697,엔시티 네이션 : 투 더 월드 인 시네마,<NA>,K,69.0,22.0
8,20232077,어른 김장하,<NA>,K,31.0,23.0
6,20227525,교토에서 온 편지,<NA>,K,29.0,24.0