In [13]:
import pandas as pd
base_path="/home/jacob/data/movies/dailyboxoffice"
ds_nodash="20240101"
svbase_path =  "/home/jacob/data/movies/merge/dailyboxoffice"
save_path = f"{svbase_path}/dt={ds_nodash}/merged.parquet"
drop_col = ['rnum', 'rank', 'rankInten', 'salesShare']
full_col = ['rnum', 'rank', 'rankInten', 'salesAmt', 'audiCnt',
            'audiAcc', 'scrnCnt', 'showCnt', 'salesShare', 'salesInten',
            'salesChange', 'audiInten', 'audiChange']
    
df=pd.read_parquet("/home/jacob/data/movies/dailyboxoffice/dt=20240101")
df.drop(columns=['rank', 'rnum', 'rankInten', 'salesShare'])
fil_movieCd=[]

for _, row in df.iterrows():
    if pd.isna(row['multiMovieYn']) or pd.isna(row['repNationCd']):
        fil_movieCd.append(row['movieCd'])
        
def merge_values(series):
    return ', '.join(series.dropna().astype(str).unique())

merged_list=[]

for i in set(fil_movieCd):
    fil_dup=df[df['movieCd'] == i][['movieCd', 'movieNm', 'multiMovieYn', 'repNationCd','audiCnt','rnum']]
    if len(fil_dup) == 1 and fil_dup[['multiMovieYn', 'repNationCd']].isna().all(axis=1).iloc[0]:
        fil_dup = fil_dup.fillna("Unclassified")
        merged_list.append(fil_dup)
    else:
        fil_dup=fil_dup.dropna(subset=['multiMovieYn', 'repNationCd'], how='all')
        merged_df = fil_dup.groupby(['movieCd', 'movieNm'], as_index=False).agg({
            'multiMovieYn': merge_values,
            'repNationCd': merge_values,
            'audiCnt': 'max'
        })
        merged_list.append(merged_df)
f_merged_df = pd.concat(merged_list, ignore_index=True)
f_merged_df['rank'] =f_merged_df['audiCnt'].rank(ascending=False,method='dense')
unique_df_sorted = f_merged_df.sort_values(by='rank')
unique_df_sorted[['multiMovieYn', 'repNationCd']] = unique_df_sorted[['multiMovieYn', 'repNationCd']].replace('', pd.NA)
unique_df_sorted

,movieCd,movieNm,multiMovieYn,repNationCd,audiCnt,rank
22,20203702,노량: 죽음의 바다,N,K,290717.0,1.0
2,20212866,서울의 봄,N,K,262422.0,2.0
21,20236146,신차원! 짱구는 못말려 더 무비 초능력 대결전 ~날아라 수제김밥~,N,F,58239.0,3.0
14,20235735,아쿠아맨과 로스트 킹덤,N,F,49368.0,4.0
1,20235596,트롤: 밴드 투게더,N,F,28988.0,5.0
7,20234673,뽀로로 극장판 슈퍼스타 대모험,N,K,11586.0,6.0
20,20235290,도티와 영원의 탑,N,K,10704.0,7.0
15,20234114,괴물,Y,F,8710.0,8.0
0,20236045,"바다 탐험대 옥토넛 어보브 앤 비욘드: 버드, 옥토경보를 울려라!",Y,F,6471.0,9.0
23,20235980,말하고 싶은 비밀,N,F,3765.0,10.0
19,20190324,3일의 휴가,N,K,3295.0,11.0
12,20236080,류이치 사카모토: 오퍼스,Y,F,3001.0,12.0
3,20233299,크레센도,Y,F,2534.0,13.0
16,20235923,사랑은 낙엽을 타고,Y,F,1052.0,14.0
11,20235693,리빙: 어떤 인생,Y,F,729.0,15.0
5,20235098,나폴레옹,N,<NA>,540.0,16.0
4,20234664,그대들은 어떻게 살 것인가,Y,<NA>,318.0,17.0
9,20236533,립세의 사계,Y,<NA>,294.0,18.0
18,20124722,피아니스트의 전설,Y,<NA>,294.0,18.0
24,19860125,쿼바디스,Y,<NA>,292.0,19.0
13,20202247,싱글 인 서울,<NA>,K,212.0,20.0
10,20228560,너와 나,<NA>,K,192.0,21.0
17,20235697,엔시티 네이션 : 투 더 월드 인 시네마,<NA>,K,69.0,22.0
8,20232077,어른 김장하,<NA>,K,31.0,23.0
6,20227525,교토에서 온 편지,<NA>,K,29.0,24.0

In [20]:
df=pd.read_parquet("/home/jacob/data/movies/merge/dailyboxoffice/dt=20240104")
df

,movieCd,movieNm,multiMovieYn,repNationCd,audiCnt,rank
18,20235834,위시,N,F,68674,1.0
20,20212866,서울의 봄,N,K,45359,2.0
23,20203702,노량: 죽음의 바다,N,K,44860,3.0
12,20236146,신차원! 짱구는 못말려 더 무비 초능력 대결전 ~날아라 수제김밥~,N,F,12113,4.0
1,20228555,더 퍼스트 슬램덩크,N,F,8114,5.0
7,20235735,아쿠아맨과 로스트 킹덤,N,F,7170,6.0
21,20235583,인투 더 월드,N,F,5898,7.0
13,20234114,괴물,Y,F,3494,8.0
16,20235596,트롤: 밴드 투게더,N,F,3119,9.0
4,20234673,뽀로로 극장판 슈퍼스타 대모험,N,K,3051,10.0
11,20235253,외계+인 2부,N,K,2041,11.0
0,20236045,"바다 탐험대 옥토넛 어보브 앤 비욘드: 버드, 옥토경보를 울려라!",Y,F,1963,12.0
15,20236080,류이치 사카모토: 오퍼스,Y,F,1761,13.0
8,20233299,크레센도,Y,F,1263,14.0
14,20190324,3일의 휴가,None,K,895,15.0
19,20235290,도티와 영원의 탑,None,K,597,16.0
6,20235854,덤 머니,Y,None,512,17.0
10,20235923,사랑은 낙엽을 타고,Y,None,490,18.0
3,20235924,클레오의 세계,Y,None,321,19.0
5,20235693,리빙: 어떤 인생,Y,None,307,20.0
17,20202247,싱글 인 서울,None,K,267,21.0
22,20235353,길위에 김대중,Y,K,200,22.0
9,20228560,너와 나,Y,K,162,23.0
2,19580069,돈,None,K,51,24.0

In [21]:
df2=pd.read_parquet("/home/jacob/data/movies/merge/dailyboxoffice/dt=20240101/merged.parquet")
df2

,movieCd,movieNm,multiMovieYn,repNationCd,audiCnt,rank
24,20203702,노량: 죽음의 바다,N,K,290717,1.0
17,20212866,서울의 봄,N,K,262422,2.0
4,20236146,신차원! 짱구는 못말려 더 무비 초능력 대결전 ~날아라 수제김밥~,N,F,58239,3.0
21,20235735,아쿠아맨과 로스트 킹덤,N,F,49368,4.0
16,20235596,트롤: 밴드 투게더,N,F,28988,5.0
1,20234673,뽀로로 극장판 슈퍼스타 대모험,N,K,11586,6.0
3,20235290,도티와 영원의 탑,N,K,10704,7.0
7,20234114,괴물,Y,F,8710,8.0
10,20236045,"바다 탐험대 옥토넛 어보브 앤 비욘드: 버드, 옥토경보를 울려라!",Y,F,6471,9.0
11,20235980,말하고 싶은 비밀,N,F,3765,10.0
19,20190324,3일의 휴가,N,K,3295,11.0
22,20236080,류이치 사카모토: 오퍼스,Y,F,3001,12.0
2,20233299,크레센도,Y,F,2534,13.0
9,20235923,사랑은 낙엽을 타고,Y,F,1052,14.0
20,20235693,리빙: 어떤 인생,Y,F,729,15.0
5,20235098,나폴레옹,N,None,540,16.0
18,20234664,그대들은 어떻게 살 것인가,Y,None,318,17.0
0,20124722,피아니스트의 전설,Y,None,294,18.0
8,20236533,립세의 사계,Y,None,294,18.0
6,19860125,쿼바디스,Y,None,292,19.0
13,20202247,싱글 인 서울,None,K,212,20.0
23,20228560,너와 나,None,K,192,21.0
15,20235697,엔시티 네이션 : 투 더 월드 인 시네마,None,K,69,22.0
12,20232077,어른 김장하,None,K,31,23.0
14,20227525,교토에서 온 편지,None,K,29,24.0

In [25]:
df3=pd.read_parquet("/home/jacob/data/movies/dailyboxoffice")
df3.columns

Index(['rnum', 'rank', 'rankInten', 'rankOldAndNew', 'movieCd', 'movieNm',
       'openDt', 'salesAmt', 'salesShare', 'salesInten', 'salesChange',
       'salesAcc', 'audiCnt', 'audiInten', 'audiChange', 'audiAcc', 'scrnCnt',
       'showCnt', 'dt', 'multiMovieYn', 'repNationCd'],
      dtype='object')

In [28]:
df3.to_parquet("~/temp/t_p_1", partition_cols=['openDt','movieCd'])

In [29]:
df3.to_parquet("~/temp/t_p_2", partition_cols=['openDt','salesAmt','repNationCd'])

In [33]:
tp1=pd.read_parquet("/home/jacob/temp/t_p_1/openDt=2024-03-07")
tp1

,rnum,rank,rankInten,rankOldAndNew,movieNm,salesAmt,salesShare,salesInten,salesChange,salesAcc,audiCnt,audiInten,audiChange,audiAcc,scrnCnt,showCnt,dt,multiMovieYn,repNationCd,movieCd
0,9,9,0,NEW,부활 그 소망,1056000,0.0,1056000,100.0,30697000,96,96,100.0,2932,1,1,20240106,NaN,K,20235114
1,9,9,0,OLD,부활 그 소망,2272000,0.1,1216000,115.2,32969000,215,119,124.0,3147,4,4,20240107,NaN,K,20235114
2,9,9,3,OLD,부활 그 소망,2041000,0.1,-515000,-20.1,39836000,193,-3,-1.5,3781,3,3,20240114,NaN,K,20235114

In [48]:
import pandas as pd

A = pd.DataFrame({
    "movieCd": ["1001", "1002", "1003"],
    "multiMovieYn": ["Y", "Y", "N"],
    "repNationCd": ["K", "F", None]
})

B = pd.DataFrame({
    "movieCd": ["1001", "1003", "1004"],
    "multiMovieYn": [None, "Y", "Y"],
    "repNationCd": [None, "F", "K"]
})
A.set_index("movieCd", inplace=True)
B.set_index("movieCd", inplace=True)
r_df=A.combine_first(B)
r_df
r_df.reset_index(inplace=True)
r_df

  movieCd multiMovieYn repNationCd
0    1001            Y           K
1    1002            Y           F
2    1003            N           F
3    1004            Y           K

In [4]:
import pandas as pd
df12=pd.read_parquet("/home/jacob/data/movies/merge/")

In [5]:
print(len(df12))

9020

In [8]:
df12.tail(50)

,movieCd,movieNm,multiMovieYn,repNationCd,audiCnt,rank,dt
17,20228796,하얼빈,N,K,157539,1.0,20241230
23,20200142,소방관,N,K,45563,2.0,20241230
4,20240193,무파사: 라이온 킹,N,F,20264,3.0,20241230
19,20245977,극장판 짱구는 못말려: 우리들의 공룡일기,N,F,16460,4.0,20241230
14,20240737,모아나 2,N,F,15931,5.0,20241230
0,20247693,위키드,N,F,14177,6.0,20241230
3,20244762,서브스턴스,Y,F,4589,7.0,20241230
11,20246201,니코: 오로라 원정대의 모험,N,F,3258,8.0,20241230
16,20247017,대가족,N,K,3064,9.0,20241230
8,20246777,더 폴: 디렉터스 컷,N,F,2884,10.0,20241230
12,20101224,해리 포터와 죽음의 성물1,N,F,1773,11.0,20241230
22,20050082,이터널 선샤인,Y,F,1363,12.0,20241230
5,20246268,이처럼 사소한 것들,Y,F,1133,13.0,20241230
6,20247430,퍼스트레이디,Y,K,1122,14.0,20241230
7,20190300,보고타: 마지막 기회의 땅,None,K,1118,15.0,20241230
21,20248558,"나야, 문희",None,K,651,16.0,20241230
20,20225184,히든페이스,None,K,611,17.0,20241230
15,20246266,데드데드 데몬즈 디디디디 디스트럭션: 파트1,Y,None,567,18.0,20241230
10,20212352,1승,None,K,500,19.0,20241230
24,20240056,춘천대첩 72시간,Y,K,486,20.0,20241230
9,20247397,존 오브 인터레스트,Y,None,358,21.0,20241230
13,20246939,정동원 성탄총동원 더 무비,None,K,339,22.0,20241230
2,20235926,퍼펙트 데이즈,Y,None,233,23.0,20241230
1,20244912,아노라,Y,None,201,24.0,20241230
18,20030010,무간도,Y,None,178,25.0,20241230
7,20228796,하얼빈,N,K,212397,1.0,20241231
2,20190300,보고타: 마지막 기회의 땅,N,K,97289,2.0,20241231
19,20200142,소방관,N,K,55176,3.0,20241231
13,20244850,시빌 워: 분열의 시대,Y,F,22039,4.0,20241231
10,20240193,무파사: 라이온 킹,N,F,21666,5.0,20241231
3,20240737,모아나 2,N,F,18863,6.0,20241231
9,20245977,극장판 짱구는 못말려: 우리들의 공룡일기,N,F,17213,7.0,20241231
11,20247693,위키드,N,F,15440,8.0,20241231
20,20244762,서브스턴스,Y,F,4228,9.0,20241231
6,20246777,더 폴: 디렉터스 컷,N,F,2820,10.0,20241231
12,20247017,대가족,N,K,2785,11.0,20241231
14,20246201,니코: 오로라 원정대의 모험,N,F,2308,12.0,20241231
18,20101224,해리 포터와 죽음의 성물1,None,F,2055,13.0,20241231
17,20050082,이터널 선샤인,Y,F,1366,14.0,20241231
1,20246268,이처럼 사소한 것들,Y,None,1292,15.0,20241231
22,20248558,"나야, 문희",None,K,872,16.0,20241231
5,20247430,퍼스트레이디,Y,K,584,17.0,20241231
21,20020020,밀레니엄 맘보,Y,None,560,18.0,20241231
16,20241180,"괜찮아, 앨리스",Y,K,440,19.0,20241231
8,20225184,히든페이스,None,K,404,20.0,20241231
24,20247397,존 오브 인터레스트,Y,None,391,21.0,20241231
4,20040725,화양연화,Y,None,313,22.0,20241231
0,20235926,퍼펙트 데이즈,Y,None,271,23.0,20241231
15,20212352,1승,None,K,267,24.0,20241231
23,20248129,엘리자벳: 더 뮤지컬 라이브,None,K,196,25.0,20241231

In [22]:
df13=pd.read_parquet("/home/jacob/data/movies/merge/dailyboxoffice")
df13.head(50)

,movieCd,movieNm,multiMovieYn,repNationCd,audiCnt,rank,dt
13,20203702,노량: 죽음의 바다,N,K,290717,1.0,20240101
21,20212866,서울의 봄,N,K,262422,2.0,20240101
12,20236146,신차원! 짱구는 못말려 더 무비 초능력 대결전 ~날아라 수제김밥~,N,F,58239,3.0,20240101
0,20235735,아쿠아맨과 로스트 킹덤,N,F,49368,4.0,20240101
5,20235596,트롤: 밴드 투게더,N,F,28988,5.0,20240101
23,20234673,뽀로로 극장판 슈퍼스타 대모험,N,K,11586,6.0,20240101
22,20235290,도티와 영원의 탑,N,K,10704,7.0,20240101
10,20234114,괴물,Y,F,8710,8.0,20240101
11,20236045,"바다 탐험대 옥토넛 어보브 앤 비욘드: 버드, 옥토경보를 울려라!",Y,F,6471,9.0,20240101
16,20235980,말하고 싶은 비밀,N,F,3765,10.0,20240101
6,20190324,3일의 휴가,N,K,3295,11.0,20240101
19,20236080,류이치 사카모토: 오퍼스,Y,F,3001,12.0,20240101
15,20233299,크레센도,Y,F,2534,13.0,20240101
2,20235923,사랑은 낙엽을 타고,Y,F,1052,14.0,20240101
8,20235693,리빙: 어떤 인생,Y,F,729,15.0,20240101
3,20235098,나폴레옹,N,None,540,16.0,20240101
14,20234664,그대들은 어떻게 살 것인가,Y,None,318,17.0,20240101
17,20124722,피아니스트의 전설,Y,None,294,18.0,20240101
4,20236533,립세의 사계,Y,None,294,18.0,20240101
1,19860125,쿼바디스,Y,None,292,19.0,20240101
9,20202247,싱글 인 서울,None,K,212,20.0,20240101
20,20228560,너와 나,None,K,192,21.0,20240101
7,20235697,엔시티 네이션 : 투 더 월드 인 시네마,None,K,69,22.0,20240101
18,20232077,어른 김장하,None,K,31,23.0,20240101
24,20227525,교토에서 온 편지,None,K,29,24.0,20240101
20,20203702,노량: 죽음의 바다,N,K,70990,1.0,20240102
21,20212866,서울의 봄,N,K,67766,2.0,20240102
0,20236146,신차원! 짱구는 못말려 더 무비 초능력 대결전 ~날아라 수제김밥~,N,F,19367,3.0,20240102
8,20235735,아쿠아맨과 로스트 킹덤,N,F,14940,4.0,20240102
2,20235596,트롤: 밴드 투게더,N,F,7557,5.0,20240102
22,20234673,뽀로로 극장판 슈퍼스타 대모험,N,K,4826,6.0,20240102
16,20234114,괴물,Y,F,4366,7.0,20240102
10,20235290,도티와 영원의 탑,N,K,3777,8.0,20240102
13,20236045,"바다 탐험대 옥토넛 어보브 앤 비욘드: 버드, 옥토경보를 울려라!",Y,F,3343,9.0,20240102
1,20233299,크레센도,Y,F,1920,10.0,20240102
7,20236080,류이치 사카모토: 오퍼스,Y,F,1888,11.0,20240102
11,20190324,3일의 휴가,N,K,1633,12.0,20240102
5,20235980,말하고 싶은 비밀,N,F,1571,13.0,20240102
9,20235098,나폴레옹,N,F,422,14.0,20240102
3,20235693,리빙: 어떤 인생,Y,F,381,15.0,20240102
23,20235923,사랑은 낙엽을 타고,Y,None,355,16.0,20240102
19,20234664,그대들은 어떻게 살 것인가,Y,None,222,17.0,20240102
6,20235905,티처스 라운지,Y,None,217,18.0,20240102
15,20124722,피아니스트의 전설,Y,None,188,19.0,20240102
14,20227654,수라,Y,K,172,20.0,20240102
12,20228560,너와 나,None,K,116,21.0,20240102
4,20202247,싱글 인 서울,None,K,101,22.0,20240102
17,20235264,백남준: 달은 가장 오래된 TV,None,K,49,23.0,20240102
18,20234796,비밀,None,K,46,24.0,20240102
14,20235834,위시,N,F,110521,1.0,20240103

In [16]:
df13=pd.read_parquet("/home/jacob/data/movies/dailyboxoffice/dt=20241231/multiMovieYn=Y")
df14=pd.read_parquet("/home/jacob/data/movies/dailyboxoffice/dt=20241231/multiMovieYn=Y/0bd745355cc14cc9a7d4ce779b8c15fb-0.parquet")
df14

,rnum,rank,rankInten,rankOldAndNew,movieCd,movieNm,openDt,salesAmt,salesShare,salesInten,salesChange,salesAcc,audiCnt,audiInten,audiChange,audiAcc,scrnCnt,showCnt
0,1,1,0,NEW,20244850,시빌 워: 분열의 시대,2024-12-31,217419160,65.4,217419160,100.0,226802160,22039,22039,100.0,22767,662,1546
1,2,2,-1,OLD,20244762,서브스턴스,2024-12-11,40301600,12.1,-2721220,-6.3,1520497600,4228,-361,-7.9,156214,159,192
2,3,3,-1,OLD,20050082,이터널 선샤인,2005-11-10,11408400,3.4,48200,0.4,4206156092,1366,3,0.2,545016,39,46
3,4,4,-1,OLD,20246268,이처럼 사소한 것들,2024-12-11,13182200,4.0,3116800,31.0,369902460,1292,159,14.0,39042,35,47
4,5,5,-1,OLD,20247430,퍼스트레이디,2024-12-12,4931800,1.5,-5293100,-51.8,773313180,584,-538,-48.0,80010,53,67
5,6,6,0,NEW,20020020,밀레니엄 맘보,2003-05-30,5078300,1.5,5078300,100.0,20852300,560,560,100.0,2568,32,34
6,7,7,0,NEW,20241180,"괜찮아, 앨리스",2024-11-13,3863000,1.2,3863000,100.0,191214000,440,440,100.0,21361,2,2
7,8,8,-1,OLD,20247397,존 오브 인터레스트,2024-06-05,3587546,1.1,245246,7.3,2050031040,391,33,9.2,207063,38,38
8,9,9,0,NEW,20040725,화양연화,2000-10-20,3221600,1.0,3221600,100.0,1218845018,313,313,100.0,135365,9,9
9,10,10,-2,OLD,20235926,퍼펙트 데이즈,2024-07-03,2391246,0.7,239946,11.2,1317202231,271,38,16.3,139744,29,29

In [ ]:
import pandas as pd

# Parquet 데이터 경로 (메타 주소 사용)
path1 = "/home/jacob/data/movies/merge/dailyboxoffice/dt=20240102"
path2 = "/home/jacob/data/movie-after/meta/meta.parquet"

# Parquet 데이터 읽기
df1 = pd.read_parquet(path1, engine="pyarrow")
df2 = pd.read_parquet(path2, engine="pyarrow")

# 🔹 1. NaN 값 처리
df1 = df1.fillna("_NAN_")
df2 = df2.fillna("_NAN_")

# 🔹 2. 데이터 타입 통일
df1 = df1.astype(str)
df2 = df2.astype(str)

# 🔹 3. 컬럼 정렬
df1 = df1[sorted(df1.columns)]
df2 = df2[sorted(df2.columns)]

# 🔹 4. 인덱스 정리
df1 = df1.reset_index(drop=True)
df2 = df2.reset_index(drop=True)

# 🔹 5. 차이점 비교
diff_bool = df1 != df2

# 🔹 6. 차이점 출력
if not diff_bool.any().any():
    print("📢 파일이 완전히 동일합니다.")
else:
    print("⚠️ 파일이 다릅니다!")
    diff_data = df1.compare(df2)

In [35]:
kdf=pd.read_parquet("/home/jacob/data/movie-after/meta/meta.parquet")
kdf
column_name = "movieCd"  # 체크할 컬럼명
duplicates = kdf[column_name].duplicated().any()

if duplicates:
    print(f"⚠️ 컬럼 '{column_name}'에 중복된 값이 있습니다.")
else:
    print(f"✅ 컬럼 '{column_name}'에 모든 값이 고유합니다.")

✅ 컬럼 'movieCd'에 모든 값이 고유합니다.

In [15]:
import pandas as pd


path1 = "/home/jacob/data/movies/merge/dailyboxoffice/dt=20240102"
path2 = "/home/jacob/data/movie_after/meta/meta.parquet"
path3 = "/home/jacob/data/movies/merge/dailyboxoffice/dt=20241231"

df1 = pd.read_parquet(path1, engine="pyarrow")
df2 = pd.read_parquet(path2,engine="pyarrow")
df2

,movieCd,movieNm,multiMovieYn,repNationCd,audiCnt,rank
0,19580069,돈,None,K,51,24.0
1,19810057,콰이강의 다리,Y,None,235,21.0
2,19860125,쿼바디스,Y,None,292,19.0
3,20101394,7인의 말괄량이,Y,K,174,21.0
4,20124722,피아니스트의 전설,Y,None,294,18.0
5,20190324,3일의 휴가,N,K,3295,11.0
6,20202247,싱글 인 서울,None,K,212,20.0
7,20203702,노량: 죽음의 바다,N,K,290717,1.0
8,20208446,외계+인 1부,None,K,390,19.0
9,20212350,약속,None,K,130,24.0
10,20212866,서울의 봄,N,K,262422,2.0
11,20227525,교토에서 온 편지,None,K,29,24.0
12,20227650,이어지는 땅,Y,K,615,17.0
13,20227654,수라,Y,K,172,20.0
14,20228555,더 퍼스트 슬램덩크,N,F,8114,5.0
15,20228560,너와 나,Y,K,192,21.0
16,20230984,간신의 피,None,K,112,24.0
17,20232077,어른 김장하,None,K,31,23.0
18,20233299,크레센도,Y,F,2534,13.0
19,20234114,괴물,Y,F,8710,8.0
20,20234664,그대들은 어떻게 살 것인가,Y,None,318,17.0
21,20234673,뽀로로 극장판 슈퍼스타 대모험,N,K,11586,6.0
22,20234796,비밀,None,K,46,24.0
23,20235098,나폴레옹,N,F,540,16.0
24,20235114,부활 그 소망,None,K,96,23.0
25,20235253,외계+인 2부,N,K,3104,9.0
26,20235264,백남준: 달은 가장 오래된 TV,None,K,49,23.0
27,20235290,도티와 영원의 탑,N,K,10704,7.0
28,20235353,길위에 김대중,Y,K,200,22.0
29,20235583,인투 더 월드,N,F,5898,7.0
30,20235596,트롤: 밴드 투게더,N,F,28988,5.0
31,20235693,리빙: 어떤 인생,Y,F,729,15.0
32,20235697,엔시티 네이션 : 투 더 월드 인 시네마,None,K,69,22.0
33,20235735,아쿠아맨과 로스트 킹덤,N,F,49368,4.0
34,20235834,위시,N,F,110521,1.0
35,20235854,덤 머니,Y,None,512,17.0
36,20235905,티처스 라운지,Y,None,217,18.0
37,20235923,사랑은 낙엽을 타고,Y,F,1052,14.0
38,20235924,클레오의 세계,Y,None,446,17.0
39,20235980,말하고 싶은 비밀,N,F,3765,10.0
40,20236014,메이킹 다큐멘터리 `스즈메의 문단속`을 따라가다,None,F,1208,15.0
41,20236045,"바다 탐험대 옥토넛 어보브 앤 비욘드: 버드, 옥토경보를 울려라!",Y,F,6471,9.0
42,20236080,류이치 사카모토: 오퍼스,Y,F,3001,12.0
43,20236108,노 베어스,Y,None,407,20.0
44,20236146,신차원! 짱구는 못말려 더 무비 초능력 대결전 ~날아라 수제김밥~,N,F,58239,3.0
45,20236464,도그맨,Y,None,200,20.0
46,20236533,립세의 사계,Y,F,294,18.0
47,20236556,"주사위놀이, 마불 세계여행",None,K,196,23.0
48,20236557,스즈메의 문단속: 다녀왔어,Y,F,6145,7.0
49,20236907,지오디 마스터피스 더 무비,N,K,5209,9.0

In [17]:
import pandas as pd
import pyarrow.dataset as ds

path2 = "/home/jacob/data/movie_after/meta/meta.parquet"
path3 = "/home/jacob/data/movie_after/dailyboxoffice/dt=20240110"
dataset = ds.dataset(path3, format="parquet", partitioning="hive")
df = dataset.to_table().to_pandas()
df

     movieCd       movieNm  audiCnt  rank multiMovieYn   repNationCd
0   20228555    더 퍼스트 슬램덩크     8114   5.0            N             F
1   20235098          나폴레옹      540  16.0            N             F
2   20235583       인투 더 월드     5898   7.0            N             F
3   20235596    트롤: 밴드 투게더    28988   5.0            N             F
4   20235735  아쿠아맨과 로스트 킹덤    49368   4.0            N             F
..       ...           ...      ...   ...          ...           ...
90  20235854          덤 머니      512  17.0            Y  Unclassified
91  20235905       티처스 라운지      217  18.0            Y  Unclassified
92  20235924       클레오의 세계      446  17.0            Y  Unclassified
93  20236108         노 베어스      407  20.0            Y  Unclassified
94  20236464           도그맨      200  20.0            Y  Unclassified

[95 rows x 6 columns]